.cell {
  width: 80px;
  height: 80px;
  /* border: 5px solid black; */
  background: white;
  font-size: 46px;
  text-align: center;
  margin: auto;
}
.gameHeading {
  text-align: center;
}
.playerButtonLabels {
  font-family: sans-serif;
  font-size: 20px;
}
.gameStartButton {
  width: 150px;
  height: 30px;
  margin-left: 10%;
  margin-top: 20px;
}
.tictactoeBoard {
  display: none;
}
.tictactoeTable {
  margin: auto;
}
.cell_0 {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
.cell_1 {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
}
.cell_2 {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}
.cell_3 {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
}
.cell_4 {
  border: 5px solid black;
}
.cell_5 {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-top: 5px solid black;
}
.cell_6 {
  border-right: 5px solid black;
  border-top: 5px solid black;
}
.cell_7 {
  border-right: 5px solid black;
  border-left: 5px solid black;
  border-top: 5px solid black;
}
.cell_8 {
  border-left: 5px solid black;
  border-top: 5px solid black;
}
. input {
  margin: 15px;
  width: 300px;
  height: 25px;
}
